---
layout: blog
title: Blog
permalink: /blog_br/
uid: blog
lang: pt
---

<div class="container mtb">
    <div class="row">

        <! -- BLOG POSTS LIST -->
        <div class="col-lg-8">

            {% for post in site.categories['blog'] %}
                <! -- Blog Post -->
                <a href="{{ post.url | prepend: site.baseurl }}">
                    {% if post.img != nill %}
                    <div style="width: 100%; height: 60px; overflow: hidden;">
                    <img style="margin: -120px 0 0 0;" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                    </div>
                    {% else %}
                    <div style="position:relative; width: 100%; height: 60px; overflow: hidden;">
                    <img style="margin: -120px 0 0 0;" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}default850x400.png">
                    <div style="color:#212121; left: 0; position:absolute; text-align:center; top: 10px; width: 100%">
                    {% if post.icon %}
                        {% assign icon = post.icon %}
                    {% else %}
                        {% assign icon = "rocket" %}
                    {% endif %}
                    <i class="fa fa-{{ icon }} fa-3x"></i>
                    </div>
                    </div>
                    {% endif %}
                </a>    
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b, %Y" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ='{{ post.url | prepend: site.baseurl }}#disqus_thread'><span class="disqus-comment-count" data-disqus-identifier="{{ post.id }}"> </span></a></csmall></p> 
                {{ post.excerpt }}
                <p><a href="{{ post.url | prepend: site.baseurl }}">[Ler mais]</a></p>
                <div class="hline"></div>

                <div class="spacing"></div>
            {% endfor %}

        </div><! --/col-lg-8 -->

        {% include sidebar.html %}

    </div><! --/row -->
</div><! --/container -->