{% assign d = include.date | date: "%-d" %}
{% assign m = include.date | date: "%-m" %}

{% if page.lang == 'en' %}
{{ d }}<sup>{% case d %}
  {% when '1' or '21' or '31' %}st
  {% when '2' or '22' %}nd
  {% when '3' or '23' %}rd
{% else %}th
{% endcase %}</sup> 
of {{ include.date | date: "%B %Y"}}
{% endif %}

{% if page.lang == 'pt' %}
{{ d }} de 
{% case m %}
  {% when '1' %}janeiro
  {% when '2' %}fevereiro
  {% when '3' %}março
  {% when '4' %}abril
  {% when '5' %}maio
  {% when '6' %}junho
  {% when '7' %}julho
  {% when '8' %}agosto
  {% when '9' %}setembro
  {% when '10' %}outubro
  {% when '11' %}novembro
  {% when '12' %}dezembro
{% endcase %} 
de {{ include.date | date: "%Y"}}
{% endif %}
