<div style="text-align: center; max-width: fit-content; margin-top: 2em;">
&gt; <a href="/contato">entre em contato</a> &lt; &gt; <a href="https://translate.google.com/translate?hl=en&sl=pt&tl=en&u={{ site.url }}{{ page.url }}&sandbox=1">read in english</a> &lt;
<br>
&gt; me pague um café via <a href="https://ko-fi.com/antunes">ko-fi</a>, <a href="https://liberapay.com/anderson/donate">liberapay</a> ou <a href="https://www.paypal.com/donate?hosted_button_id=HNR23JTXANYSQ">paypal</a> &lt;
</div>
