<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180644699-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('set', {cookie_flags: 'SameSite=None;Secure'});
  gtag('config', 'UA-180644699-1', {
    cookie_domain: 'anderson-blog.github.io',
    cookie_flags: 'SameSite=None;Secure',
  });
</script>
<link rel="shortcut icon" type="image/x-icon" href="/{{ site.favicon }}" />
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
{% if page.video %}
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
{% endif %}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

{% if page.video %}
  <script src="https://cdn.plyr.io/3.6.2/plyr.polyfilled.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', () => {
          const player = Plyr.setup('.player', {
            controls: ['play-large', 'play', 'progress', 'mute', 'volume'],
            muted: true,
          });
      });
  </script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HVTYJ68VYK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HVTYJ68VYK');
</script>

{% if page.scan %}
  <script type="text/javascript" src="https://unpkg.com/@zxing/browser@latest"></script>
{% endif %}