<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}"><i class="fa fa-rocket"></i> {{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        {% for menu in site.t[page.lang] %}
          <li><a href="{{menu[1].url}}">{{menu[1].name}}</a></li>
        {% endfor %}
        
        <!--
        {% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
        {% for post in posts %}
        <li style="width:30px;">
        <a href="{{ post.url }}" class="{{ post.lang }}">
          {% if forloop.first %}&#123;{% endif %}<b style="font-weight: {% if page.lang == post.lang %}800{% else %}400{% endif %};">{{ post.lang }}</b>{% if forloop.last %}&#125;{% endif %}
        </a></li>{% endfor %}
        -->
        {% assign posts=site.pages | where:"uid", page.uid | sort: 'path' %}
        {% for post in posts %}
        {% if page.lang != post.lang %}
        <li>
          <a href="{{ post.url }}" class="{{ post.lang }}">
            {
            <b style="font-weight: {% if page.lang == "pt" %}800{% else %}400{% endif %};">PT</b>/
            <b style="font-weight: {% if page.lang == "en" %}800{% else %}400{% endif %};">EN</b>
            }
          </a>
        </li>
        {% endif %}
        {% endfor %}

        {% assign posts=site.posts | where:"uid", page.uid | sort: 'path' %}
        {% for post in posts %}
        {% if page.lang != post.lang %}
        <li>
          <a href="{{ post.url }}" class="{{ post.lang }}">
            {
            <b style="font-weight: {% if page.lang == "pt" %}800{% else %}400{% endif %};">PT</b>/
            <b style="font-weight: {% if page.lang == "en" %}800{% else %}400{% endif %};">EN</b>
            }
          </a>
        </li>
        {% endif %}
        {% endfor %}

        <!--
        {% assign posts=site.posts | where:"name", page.name | sort: 'path' %}
        <ul class="nav navbar-nav">
        {% for post in posts %}
            <li class="lang">
                {% if page.lang != post.lang %}
                {% if post.lang == "en" %}
                <a href="{{ post.url }}" class="{{ post.lang }}">{<img style="padding-bottom:2px;" src="{{"/assets/img/us.png" | prepend: site.baseurl }}">}</a>
                {% else %}
                <a href="{{ post.url }}" class="{{ post.lang }}">{<img style="padding-bottom:2px;" src="{{"/assets/img/br.png" | prepend: site.baseurl }}">}</a>
                {% endif %}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        -->


      </ul>
      
	
	
    </div><!--/.nav-collapse -->
  </div>
</div>
