<div class="portfolio-centered">
    {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
    <div class="recentitems portfolio">
        {% assign posts = site.categories['project'] | where:"lang", page.lang %}
        {% for project in posts limit:include.limit %}
            <a href="{{  project.url | prepend: site.baseurl }}">
            <div class="portfolio-item graphic-design">
                <div class="he-wrap tpl6">
                {% if project.img != nill %}
                <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                {% else %}
                <div style="position:relative;">
                <img src="{{ "/assets/img/project/default600x450.png" | prepend: site.baseurl }}">
                <div style="color:#212121; left: 0; position:absolute; text-align:center; top: 65px; width: 100%;">
                {% if project.icon %}
                    {% assign icon = project.icon %}
                {% else %}
                    {% assign icon = "rocket" %}
                {% endif %}
                <i class="fa fa-{{ icon }} fa-5x"></i>
                </div>
                </div>
                {% endif %}
                    <div class="he-view">
                        <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">{{ project.title }}</h3>

                            <h5 class="a1" data-animate="fadeInDown"><a style="color: white;" href ='{{ project.url | prepend: site.baseurl }}#disqus_thread'><span class="disqus-comment-count" data-disqus-identifier="{{ project.id }}"> </span></a></h5>
                        </div><!-- he bg -->
                    </div><!-- he view -->		
                </div><!-- he wrap -->
            </div><!-- end col-12 -->
            </a>
        {% endfor %}
    </div><!-- portfolio -->
</div><!-- portfolio container -->
