<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    {% assign posts=site.categories['blog'] | where:"lang", page.lang %}

    <ol class="carousel-indicators">
        {% for post in posts limit:4 %}
        {% if forloop.first %}
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        {% else %}
            <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}"></li>
        {% endif %}
        {% endfor %}
    </ol>

           

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% assign fpost = posts[0] %}
        <div class="item active">
            <a href="{{ fpost.url | prepend: site.baseurl }}">
                {% if fpost.img != nill %}
                <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ fpost.img }}">
                {% else %}
                <div style="position:relative;">
                <img src="{{ "/assets/img/blog/default850x400.png" | prepend: site.baseurl }}">
                <div style="position:absolute; text-align:center; width: 100%; bottom: 10%;">
                {% if fpost.icon %}
                    {% assign icon = fpost.icon %}
                {% else %}
                    {% assign icon = "rocket" %}
                {% endif %}
                <i class="fa fa-{{ icon }}" style="color:#212121; font-size:15em"></i>
                </div>
                </div>
                {% endif %}
            </a>    
            <a href="{{ fpost.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ fpost.title }}</h3></a>
            <p><csmall>{{ fpost.date | date: "%b, %Y" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ='{{ fpost.url | prepend: site.baseurl }}#disqus_thread'><span class="disqus-comment-count" data-disqus-identifier="{{ fpost.id }}"> </span></a></csmall></p> 
            {{ fpost.excerpt }}

        </div>
        {% for post in posts limit:3  offset:1 %}
        <div class="item">
            <a href="{{ post.url | prepend: site.baseurl }}">
                {% if post.img != nill %}
                <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                {% else %}
                <div style="position:relative;">
                <img src="{{ "/assets/img/blog/default850x400.png" | prepend: site.baseurl }}">
                <div style="position:absolute; text-align:center; width: 100%; bottom: 10%;">
                {% if post.icon %}
                    {% assign icon = post.icon %}
                {% else %}
                    {% assign icon = "rocket" %}
                {% endif %}
                <i class="fa fa-{{ icon }}" style="color:#212121; font-size:15em"></i>
                </div>
                </div>
                {% endif %}
            </a>    
            <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
            <p><csmall>{{ post.date | date: "%b, %Y" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ='{{ post.url | prepend: site.baseurl }}#disqus_thread'><span class="disqus-comment-count" data-disqus-identifier="{{ post.id }}"> </span></a></csmall></p> 
            {{ post.excerpt }}
        </div>
        {% endfor %}
    </div>
</div><! --/Carousel -->