<div class="col-lg-4">
   <!--  <h4>Search</h4>
    <div class="hline"></div>
        <p>
            <br/>
            <input type="text" class="form-control" placeholder="Search something">
        </p>
    <div class="spacing"></div> -->
    <h4>{{site.label[page.lang].subscribe}}</h4>
    <div class="hline"></div>
        <p>
            <p class="rss-subscribe">Subscribe to this blog <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>.</p>
        </p>
    <div class="spacing"></div>

    <h4>{{site.label[page.lang].quicknotes}}</h4>
    <div class="hline"></div>
    {% assign posts=site.categories['quicknote'] | where:"lang", page.lang %}
    {% for post in posts %} 
        <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></p>
    {% endfor %}
    <div class="spacing"></div>

    <h4>{{site.label[page.lang].recentposts}}</h4>
    <div class="hline"></div>
        <ul class="popular-posts">
            {% assign posts=site.categories['blog'] | where:"lang", page.lang %}
            {% for post in posts limit:4 %} 
                <li>
                    <a href="{{ post.url  | prepend: site.baseurl }}">
                        {% if post.thumb != nill %}
                        <img src="{{ "/assets/img/blog/thumbs/" | prepend: site.baseurl }}{{ post.thumb }}" alt="Popular Post">
                        {% else %}
                        <div style="position:relative;">
                        <img src="{{ "/assets/img/blog/thumbs/default70x70.png" | prepend: site.baseurl }}">
                        <div style="color:#212121; left: 0; position:absolute; text-align:center; top: 15px; width: 70px;">
                        {% if post.icon %}
                            {% assign icon = post.icon %}
                        {% else %}
                            {% assign icon = "rocket" %}
                        {% endif %}
                        <i class="fa fa-{{ icon }} fa-3x"></i>
                        </div>
                        {% endif %}
                    </a>
                    <p><a href="{{ post.url }}">{{ post.title }}</a></p>
                <em>Posted on {{ post.date | date_to_string }}</em>
            </li>
            {% endfor %} 
        </ul>

    <div class="spacing"></div>

    <h4>{{site.label[page.lang].categories}}</h4>
    <div class="hline"></div>
    {% for category in site.categories %}
    {% unless category.first == "blog" or category.first == "project" or category.first == "quicknote" or category.first == "pt" or category.first == "en" %}
            {% assign posts=site.categories[category.first] | where:"lang", page.lang %}
            {% for post in posts %}
            {% if forloop.first %}
                <p>
                    {% if page.lang == "pt" %}
                        {% assign ext = "_br" %}
                    {% else %}
                        {% assign ext = "" %}
                    {% endif %}
                    <a href="{{ '/category' | append: ext | append: '/#' | prepend: site.baseurl }}{{ category | first }}"><i class="fa fa-angle-right"></i> {{ category | first | capitalize }}</a>
                    <span class="badge badge-theme pull-right">{{ category | last | size }}</span>
                </p>
            {% endif %}
            {% endfor %}
    {% endunless %}
    {% endfor %}

    <div class="spacing"></div>

    <!--
    <h4>Popular Tags</h4>
    <div class="hline"></div>
    <p>
    {% for category in site.categories %}{% unless category.first == "blog" or category.first == "project" or category.first == "question" %}
            <a class="btn btn-theme" href="{{ '/category/#'  | prepend: site.baseurl  }}{{ category | first }}" role="button">{{ category | first | capitalize }} ({{ category | last | size }})</a>	         
        {% endunless %}{% endfor %}
    </p>
    -->
</div>