<ul>
    <li>tiktok.com/<a href="https://www.tiktok.com/@depoiseumonto">@depoiseumonto</a></li>
    <li>instagram.com/<a href="https://www.instagram.com/apekind_/">apekind_</a></li>
    <li>hackaday.io/<a href="https://hackaday.io/anderson">anderson</a></li>
    <li>github.com/<a href="https://github.com/anderson-">anderson-</a></li>
    <li>ko-fi.com/<a href="https://ko-fi.com/antunes">antunes</a></li>
    <li>liberapay.com/<a href="https://liberapay.com/anderson/">anderson</a></li>
    <li><a href="/gallery">galeria de imagens</a></li>
</ul>