<ul>
    <li>instagram.com/<a href="https://www.instagram.com/anderson_antunes_/">anderson_antunes_</a></li>
    <li>tiktok.com/<a href="https://www.tiktok.com/@depoiseumonto">@depoiseumonto</a></li>
    <li>instagram.com/<a href="https://www.instagram.com/apekind_/">apekind_</a></li>
    <li>hackaday.io/<a href="https://hackaday.io/anderson">anderson</a></li>
    <li>github.com/<a href="https://github.com/anderson-">anderson-</a></li>
    <li>ko-fi.com/<a href="https://ko-fi.com/antunes">antunes</a></li>
    <li>liberapay.com/<a href="https://liberapay.com/anderson/">anderson</a></li>
    <li><a href="/gallery">galeria de imagens</a></li>
    <li><a href="https://translate.google.com/translate?hl=en&sl=pt&tl=en&u=http%3A%2F%2Fanderson-blog.github.io%2F&sandbox=1">read in english</a></li>
</ul>