{% if include.small %} 
    {% assign lineWidth = 5 %}
    {% assign cellSize = 25 %}
{% else %}
    {% assign lineWidth = 9 %}
    {% assign cellSize = 40 %}
{% endif %}


<div id="headerwrap" style="{% unless include.small %}padding-left: 80px;{% endunless %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{{ "/assets/js/jquery-1.9.0.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/assets/js/jquery.subwayMap-0.5.0.js" | prepend: site.baseurl }}"></script>

    <style type="text/css">

        /* The main DIV for the map */
        .subway-map
        {
            width: 100%;
            {% if include.small %} height:550px; {% else %} height:880px; {% endif %}
            margin: 0 auto;
            overflow: auto;
            overflow-y: hidden;
            -ms-overflow-y: hidden;
        }

        /* Text labels */
        .text
        {
            font-family:  'Raleway', sans-serif;
            {% if include.small %} font-size: 60%; {% endif %}
            text-decoration: none;
            font-weight: 600;
            color: white;
        }

        #legend
        {
            font-family:  'Raleway', sans-serif;
            font-weight: 600;
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
            width: 90%;
            margin: 0 auto;
            overflow:hidden;

        }

        #legend div
        {
            float: left;
            width: 270px;
            height: 25px;
        }

        #legend span
        {
            margin: 5px 5px 5px 15px;
        }

        #legend2
        {
            font-family:  'Raleway', sans-serif;
            font-weight: 600;
            color: white;
            padding-top: 30px;
            padding-bottom: 30px;
            width: 90%;
            margin: 0 auto;
            overflow:hidden;

        }

        #legend2 div
        {
            float: left;
            width: 270px;
            height: 25px;
        }

        #legend2 span
        {
            margin: 5px 5px 5px 15px;
        }
        .subway-map span
        {
            margin: 5px 5px 5px 0;
        }


    </style>
   
        {% unless include.small %} <div id="legend"></div> {% endunless %}
        <div class="subway-map" data-columns="28" data-rows="23" data-cellSize="{{cellSize}}" data-legendId="legend" secondary-data-legendId="legend2" data-textClass="text" data-gridNumbers="true" data-grid="false" data-lineWidth="{{lineWidth}}" data-reverseMarkers="true">
           <ul data-color="#00b4ff" data-label="Design" data-shiftCoords="1,0">
                <li data-coords="5.0,2.0" fa-icon="book" data-labelPos="W"> Video Editing Basics</li>
                <li data-coords="5.0,8.4"></li>
                <li data-coords="6.0,9.4" data-dir="S"></li>
                <li data-coords="6.22,9.4"></li>
                <li data-coords="7.2199993,10.4" data-dir="E"></li>
                <li data-coords="7.2199993,11.4"></li>
                <li data-coords="7.2199993,13.0"></li>
                <li data-coords="6.0,14.0" data-dir="S"></li>
                <li data-coords="5.0,15.0" data-dir="W"></li>
                <li data-coords="5.0,15.86"></li>
                <li data-coords="8.85,17.8"></li>
                <li data-coords="10.0,17.8"></li>
                <li data-coords="17.45,17.8"></li>
                <li data-coords="18.35,16.9" data-dir="E"></li>
                <li data-coords="18.35,11.0"></li>
                <li data-coords="17.35,10.0"></li>
                <li data-coords="13.35,10.0"></li>
                <li data-coords="12.35,9.0" data-dir="W"></li>
                <li data-coords="12.35,5.9"></li>
                <li data-coords="13.35,4.8"></li>
                <li data-coords="14.8,4.8"></li>
                <li data-coords="16.2,3.8"></li>
                <li data-coords="16.57,3.8"></li>
                <li data-coords="16.57,3.2"></li>
                <li data-coords="23.8,3.2" data-labelPos="E">Military School Modeling</li>
                <li data-coords="23.8,6.0" data-labelPos="E" fa-icon="film"> Technology Rescue</li>
                <li data-coords="23.8,7.0" data-labelPos="E" fa-icon="film"> Fluid Simulation</li>
                <li data-coords="23.8,12.0"></li>
                <li data-coords="22.8,13.0" data-dir="S"></li>
                <li data-coords="23.8,14.0" data-dir="E" data-labelPos="E" fa-icon="globe">\nRF</li>
                <li data-coords="23.8,20.0"></li>
            </ul>
            <ul data-color="#ff7e00" data-label="Timeline" data-shiftCoords="-2,0">
                <li data-coords="9.0,1.0" fa-icon="hand-o-right" data-labelPos="W"> </li>
                <li data-coords="9.0,1.0" fa-icon="star" data-labelPos="N"> 1993</li>
                <li data-coords="9.0,3.0" data-labelPos="E">High School (2008)</li>
                <li data-coords="9.0,5.0" data-labelPos="W">Technical School (2009)</li>
                <li data-coords="9.0,13.0" data-labelPos="NE" fa-icon="university">\n2011</li>
                <li data-coords="10.0,14.0" data-dir="S"></li>
                <li data-coords="11.0,14.0" data-labelPos="N" fa-icon="plane"> CWB</li>
                <li data-coords="13.5,14.0"></li>
                <li data-coords="14.5,13.0" data-dir="E"></li>
                <li data-coords="14.5,13.0" data-labelPos="W">2012</li>
                <li data-coords="14.5,11.0" data-labelPos="W" fa-icon="file-o"> TDP</li>
                <li data-coords="14.5,4.0"></li>
                <li data-coords="15.5,3.0"></li>
                <li data-coords="17.25,3.0"></li>
                <li data-coords="17.25,2.0"></li>
                <li data-coords="20.5,2.0">2013</li>
                <li data-coords="21.5,3.0" data-dir="E"></li>
                <li data-coords="21.5,3.0"></li>
                <li data-coords="21.5,4.0" fa-icon="university" data-labelPos="W">\nResearch</li>
                <li data-coords="21.5,9.0" data-labelPos="W">2014</li>
                <li data-coords="22.5,10.0" data-dir="S"></li>
                <li data-coords="23.5,11.0" data-dir="E"></li>
                <li data-coords="23.1,13.0" data-marker="@interchange" data-markerInfo="h9" data-labelPos="W">Volumetric Circuits!</li>
                <li data-coords="23.5,20.0"></li>
                <li data-coords="22.5,21.0" data-dir="S"></li>
                <li data-coords="22.5,21.0">2015</li>
            </ul>
            <ul data-color="#ff00f0" data-label="VB.net" data-shiftCoords="-1,0">
                <li data-coords="7.0,7.0"></li>
                <li data-coords="6.9,7.0" data-marker="@interchange" data-labelPos="NE" fa-icon="book">\nVB.net</li>
                <li data-coords="7.0,8.0"></li>
                <li data-coords="6.9,8.0" data-marker="@interchange" data-labelPos="W">Life</li>
                <li data-coords="6.0,9.0" data-dir="S"></li>
                <li data-coords="4.0,9.0"></li>
                <li data-coords="3.0,10.0" data-dir="W"></li>
                <li data-coords="3.0,15.0"></li>
                <li data-coords="2.9,15.0" data-marker="@interchange" data-labelPos="S">Function\nDraw</li>
            </ul>
            <ul data-color="#091aff" data-label="Shell Script & Linux" data-shiftCoords="1,2">
                <li data-coords="7.0,8.6"></li>
                <li data-coords="7.1000004,9.0" data-marker="@interchange" data-labelPos="NE" fa-icon="book">\nShell\nScript</li>
                <li data-coords="7.0,10.0"></li>
                <li data-coords="7.1000004,10.0" data-marker="@interchange" data-markerInfo="h6" data-labelPos="W" fa-icon="mortar-board">TCC\n(final)</li>
                <li data-coords="7.0,11.0"></li>
                <li data-coords="7.0,11.0" data-marker="@interchange" data-labelPos="W" data-markerInfo="h2">Black\nSheep\n2.0</li>
                <li data-coords="7.0,13.0"></li>
                <li data-coords="8.0,14.0" data-dir="S"></li>
                <li data-coords="13.0,14.0"></li>
                <li data-coords="15.0,16.0"></li>
                <li data-coords="15.0,16.4" data-marker="@interchange" data-markerInfo="v2">PROG</li>
                <li data-coords="16.7,16.0"></li>
                <li data-coords="17.7,15.0" data-dir="E"></li>
                <li data-coords="17.0,11.0"></li>

                <li data-coords="17.0,9.6"></li>
                <li data-coords="17.1,10.0" data-marker="@interchange" data-labelPos="SW">PROG+GA</li>
            </ul>

            <ul data-color="#6e3db8" data-label="Java" data-shiftCoords="1,1">
                <li data-coords="17.0,6.0"></li>
                <li data-coords="17.1,6.1" data-marker="@interchange" data-labelPos="E" fa-icon="book"> Java</li>
                <li data-coords="17.0,4.0"></li>
                <li data-coords="16.8,3.9" data-marker="@interchange" data-labelPos="E" data-markerInfo="h2">&nbsp;&emsp;Dragon\n&nbsp;&emsp;Curve</li>
                <li data-coords="17.0,3.0"></li>
                <li data-coords="16.8,3.1" data-marker="@interchange" data-labelPos="NW" data-markerInfo="h2">Traffic Sim</li>
                <li data-coords="16.98,2.0"></li>
                <li data-coords="16.8,1.9" data-marker="@interchange" data-labelPos="NW" data-markerInfo="h2" fa-icon="book"> Data\nStructures</li>
                <li data-coords="18.0,1.1"></li>
                <li data-coords="21.7,1.1"></li>
                <li data-coords="22.56,1.9" data-dir="E"></li>
                <li data-coords="22.9,2.0" data-marker="@interchange" data-labelPos="E">Java RCSS Monitor3D</li>
                <li data-coords="22.56,4.8"></li>
                <li data-coords="22.9,5.0" data-marker="@interchange" data-labelPos="W">JIFI</li>
                <li data-coords="22.56,8.0"></li>
                <li data-coords="22.81,8.0"></li>
                <li data-coords="22.81,9.0"></li>
                <li data-coords="23.81,10.0" data-dir="S"></li>
                <li data-coords="25.0,10.0"></li>
                <li data-coords="25.1,10.0" data-marker="@interchange" data-labelPos="E">S3F Framework</li>
                <li data-coords="25.0,11.0"></li>
                <li data-coords="25.1,11.0" data-marker="@interchange" data-labelPos="E">2048Bot</li>
                <li data-coords="25.0,12.0"></li>
                <li data-coords="24.0,12.0" data-marker="@interchange" data-markerInfo="h5" data-labelPos="E">&nbsp;&emsp;&emsp;&emsp;Pyrite</li>
                <li data-coords="25.0,14.0"></li>
                <li data-coords="25.1,15.0" data-marker="@interchange" data-labelPos="E">Gerty</li>
                <li data-coords="25.0,16.0"></li>
                <li data-coords="24.0,16.0" data-marker="@interchange" data-markerInfo="h5" data-labelPos="E">&nbsp;&emsp;&emsp;&emsp;Eye-Fi</li>
                <li data-coords="25.0,17.0"></li>
                <li data-coords="25.1,17.0" data-marker="@interchange" data-labelPos="E" fa-icon="book"> SQL</li>
                <li data-coords="25.0,18.0"></li>
                <li data-coords="24.0,18.1" data-marker="@interchange" data-markerInfo="h5" data-labelPos="E">&nbsp;&emsp;&emsp;&emsp;Maya</li>
            </ul>
            <ul data-color="#ff1111" data-label="Hardware Dev" data-shiftCoords="-1,0">
                <li data-coords="10.0,4.0" data-labelPos="E" fa-icon="book">  Basic Electronics</li>
                <li data-coords="10.0,12.0" data-labelPos="NE" fa-icon="book">  TTL Logic Gates</li>
                <li data-coords="10.0,14.0"></li>
                <li data-coords="11.0,15.0" data-dir="S"></li>
                <li data-coords="14.0,18.0"></li>
                <li data-coords="14.0,17.9" fa-icon="book" data-marker="@interchange"> Homemade PCBs</li>
                <li data-coords="17.0,18.0"></li>
                <li data-coords="18.0,18.0"></li>
                <li data-coords="19.0,17.0" data-dir="E"></li>
                <li data-coords="18.7,17.0"data-labelPos="E" data-marker="@interchange">Papper Card Reader</li>
                <li data-coords="19.0,10.0"></li>
                <li data-coords="18.0,9.0"></li>
                <li data-coords="17.0,9.0"></li>
                <li data-coords="17.0,9.0" data-marker="@interchange" data-labelPos="NE" fa-icon="book">  Arduino</li>
                <li data-coords="14.0,9.0"></li>
                <li data-coords="13.0,8.0" data-dir="W"></li>
                <li data-coords="12.65,8.0" data-labelPos="W" fa-icon="book" data-marker="@interchange"> SMD &\nHD PCBs</li>
                <li data-coords="13.0,7.0"></li>
                <li data-coords="12.65,7.0" data-labelPos="W" data-marker="@interchange">Binary\nCalc</li>
                <li data-coords="13.0,6.0"></li>
                <li data-coords="14.0,5.0" data-dir="N"></li>
                <li data-coords="15.1,5.15" data-marker="@interchange" data-labelPos="NE" data-markerInfo="v2">&nbsp;&nbsp;F*Cube</li>
                <li data-coords="20.0,5.0"></li>
                <li data-coords="23.0,8.0"></li>
                <li data-coords="22.7,8.1" data-marker="@interchange" data-labelPos="SW" data-markerInfo="h2">Robot\nCtrl</li>
                <li data-coords="23.49,8.1"></li>

                <li data-coords="23.49,18.15"></li>
                <li data-coords="24.49,19.26" data-dir="S"></li>
                <li data-coords="24.1,19.1" data-labelPos="E" data-marker="@interchange" data-markerInfo="h2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Oracle</li>
                <li data-coords="24.69,19.26"></li>
                <li data-coords="24.69,20"></li>
                <li data-coords="24.1,20.1" data-labelPos="E" data-marker="@interchange" data-markerInfo="h2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Knock\n&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Simon</li>
            </ul>
            <ul data-color="#38ff11" data-label="Programming" data-shiftCoords="0,0">
                <li data-coords="3.0,5.0"></li>&nbsp;&nbsp;&nbsp;&nbsp;
                <li data-coords="5.0,6.0" data-dir="S"></li>
                <li data-coords="7.0,7.0" data-dir="E"></li>
                <li data-coords="7.0,8.0"></li>
                <li data-coords="7.0,9.0"></li>
                <li data-coords="7.0,10.0"></li>
                <li data-coords="7.0,12.0"></li>
                <li data-coords="6.0,13.0" data-dir="S"></li>
                <li data-coords="4.0,13.0"></li>
                <li data-coords="3.0,14.0" data-dir="W"></li>
                <li data-coords="3.0,15.0"></li>
                <li data-coords="9.0,18.0" data-dir="W"></li>
                <li data-coords="9.0,17.9" data-dir="W" data-marker="@interchange">Octave</li>
                <li data-coords="10.0,18.0"></li>
                <li data-coords="12.0,16.0"></li>
                <li data-coords="15.0,16.0"></li>
                <li data-coords="15.0,15.0" data-labelPos="E" fa-icon="book"> Processing</li>
                <li data-coords="15.0,14.0" data-labelPos="E">QRCode C.</li>
                <li data-coords="15.0,12.0"></li>
                <li data-coords="16.0,12.0"></li>
                <li data-coords="17.0,11.0" data-dir="E"></li>
                <li data-coords="17.0,9.0"></li>
                <li data-coords="17.0,6.0"></li>
                <li data-coords="16.2,6.0"></li>
                <li data-coords="15.200001,5.0" data-dir="W"></li>
                <li data-coords="16.2,4.0"></li>
                <li data-coords="17.0,4.0"></li>
                <li data-coords="17.0,3.0"></li>
                <li data-coords="17.0,2.04"></li>
                <li data-coords="18.4,1.1"></li>
                <li data-coords="21.9,1.1"></li>
                <li data-coords="23.0,1.95" data-dir="E"></li>
                <li data-coords="23.0,5.0"></li>
                <li data-coords="23.0,8.0"></li>
                <li data-coords="24.0,9.0" data-marker="@interchange" data-labelPos="E">&nbsp;&nbsp;Tales Of\n&nbsp;&nbsp;Heitor</li>
                <li data-coords="25.0,10.0"></li>
                <li data-coords="25.0,18.0"></li>
                <li data-coords="24.5,19.0" data-dir="S"></li>
                <li data-coords="24.67,19.0"></li>
                <li data-coords="24.67,20.0"></li>
            </ul>
            <ul data-color="#fff600" data-label="C/C++" data-shiftCoords="0,-1">
                <li data-coords="3.0,5.0"></li>
                <li data-coords="3.0,4.9" data-marker="@interchange" data-labelPos="W" fa-icon="book"> \nC/C++</li>
                <li data-coords="5.0,6.0"></li>
                <li data-coords="5.1,6.1" data-marker="@interchange" data-labelPos="SW" data-markerInfo="v2">Quiz SMG</li>
                <li data-coords="5.0,14.0"></li>
                <li data-coords="2.9,13.9" data-marker="@interchange" data-markerInfo="h9" data-labelPos="W">VB.net & C</li>
                <li data-coords="5.0,15.75"></li>
                <li data-coords="5.1,16.0" data-marker="@interchange" data-labelPos="S" data-markerInfo="v2">Life\n2.0</li>
                <li data-coords="7.0,16.75"></li>
                <li data-coords="7.0,17.0" data-marker="@interchange" data-labelPos="S" data-markerInfo="v2">ASCII\nGUI</li>
                <li data-coords="9.0,16.75"></li>
                <li data-coords="14.0,12.0"></li>
                <li data-coords="15.0,12.0" data-dir="E"></li>
                <li data-coords="15.0,11.9" data-marker="@interchange" data-labelPos="SE">Utbots3D</li>
                <li data-coords="15.0,5.44"></li>
                <li data-coords="19.7,5.44"></li>
                <li data-coords="22.7,8.44"></li>
                <li data-coords="22.8,8.44"></li>
                <li data-coords="22.825,8.44"></li>

                <li data-coords="22.825,11.44"></li>
                <li data-coords="21.825,12.44" data-dir="S"></li>
                <li data-coords="21.5,12.44" data-dir="S"></li>
                <li data-coords="20.5,13.44" data-dir="W"></li>
                <li data-coords="21.5,14.44" data-dir="S"></li>
                <li data-coords="22.5,14.44"></li>
                <!--
                <li data-coords="23.48,15.44" data-dir="E"></li>
                <li data-coords="23.48,18.44"></li>
                <li data-coords="24.8,19.25" data-dir="S"></li>
                -->
                <li data-coords="23.48,15.44" data-dir="E"></li>
                <li data-coords="23.48,18.44"></li>
                <li data-coords="24.65,19.25" data-dir="S"></li>
                <li data-coords="24.24,19.25"></li>
                <li data-coords="24.24,20.25"></li>
            </ul>
        </div>
        <div id="legend2"></div> 

        <script type="text/javascript">
            $(".subway-map").subwayMap({ debug: true });
        </script>
</div><!-- /headerwrap -->


