<!DOCTYPE html>
<html lang="pt">
  <head>
      {%- include head.html -%}
  </head>
  <body>
    <div class="row">
      <div class="columnA">
        <header>
          <h1>Anderson Antunes</h1>
        </header>

        <ul>
          {% for post in site.posts %}
            {% if post.layout == "image" or post.layout == "none" %}
              {% continue %}
            {% endif %}
            <li>
              {% if post.type %}
                {{ post.type }}
              {% else %}
                {{ post.layout }}
              {% endif %}
              {% assign url = post.url | relative_url %}
              {% case post.layout %}
                {% when "link" %}
                   <a href="{{ url }}">{{ post.title | downcase }}</a> <a target="_blank" rel="noopener noreferrer" href="{{ post.link }}"><i class="fa fa-external-link-alt"></i></a></a>
                {% when "cookie" %}
                   This is a cookie
                {% else %}
                   <a href="{{ url }}">{{ post.title | downcase }}</a>
              {% endcase %}
            </li>
          {% endfor %}
        </ul>

        tags:
        <ul>
          {% for tag in site.tags %}
            <a href="/tags#{{tag[0]}}">{{ tag[0] }}</a>
          {% endfor %}
        </ul>

        links:
        {%- include social.html -%}

        {%- include footer.html -%}
      </div>
      <div class="columnB">
        {% include gallery.html contains="gallery" %}
      </div>
    </div>
  </body>
</html>
