
<!DOCTYPE html>
<html lang="pt">
    {%- include head.html -%}
    <body>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {% if page.images %}
                    <div class="row">
                        {% assign postcon = content | strip_newlines %}
                        {% if postcon != "" %}
                            <div class="columnA">
                                {%- include content.html -%}
                            </div>
                            <div class="columnB">
                                {%- include imagelist.html -%}
                            </div>
                        {% else %}
                            {% capture content %}
                                {{ page.short }}
                                <br>
                                <br>
                                {%- include imagelist.html -%}
                            {% endcapture %}
                            {%- include content.html -%}
                        {% endif %}
                    </div>
                {% else %}
                    {%- include content.html -%}
                {% endif %}
            </div>
        </main>
    </body>
</html>
