
<!DOCTYPE html>
<html lang="pt">
    {%- include head.html -%}
    <body>
        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {% if page.images %}
                    <div class="row">
                        <div class="columnA">
                            {%- include content.html -%}
                        </div>
                        <div class="columnB">
                            {% assign images = page.images | split: ' ' %}
                            {% for img in images %}
                                {% for file in site.static_files %}
                                    {% if file.extname == '.webp' %}
                                        {% if file.path contains img %}
                                            <img class="image-desc" src="{{ file.path }}" alt="">
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    {%- include content.html -%}
                {% endif %}
            </div>
        </main>
    </body>
</html>
