---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

    	{% if page.carousel != nill %}
        	{% include carousel.html %}
        {% endif %}

        <div class="col-lg-3 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Project Details</h4>
            <div class="hline"></div>
            
			{% if page.description != nill %}
            <p><b>Description:</b> {{ page.description }}</p>
            {% endif %}

            {% if page.started != nill %}
            <p><b>Started:</b> {{ page.started }}</p>
            {% endif %}
            
            {% if page.ended != nill %}
            <p><b>Ended:</b> {{ page.ended }}</p>
            {% endif %}

            {% if page.website != nill %}
            <p><b>Website:</b> <a href="{{ page.website }}">{{ page.website }}</a></p>
            {% endif %}

            <p><b>Tagged:</b>
            {% for tag in page.tags offset:1 %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>

            <div class="hline"></div>
            <div class="spacing"></div>

            {% include disqus.html %}

        </div>
        <div class="col-lg-7 col-lg-offset">
            <div class="spacing"></div>

            {{ content }}

        </div>

    </div><! --/row -->

</div><! --/container -->

    {% assign posts = site.categories['project logs'] | where:"lang", page.lang %}
	{% for post in posts %}
                {% if post.project.first == page.tags.first %}
                {% if notempty != 'true' %}
<div id="blue" style="background: {{ site.colors.secondary }};">
    <div class="container">
        <div class="row">
            <h3>Project logs</h3>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /blue -->

                {% endif %}
                {% assign notempty = 'true' %}
                {% endif %}
                {% endfor %}
                {% assign notempty = nil %}
<div class="container">
<! -- BLOG POSTS LIST -->
            <div class="col-lg-8 col-lg-offset-2">

                {% assign iposts = site.categories['project logs'] | where:"lang", page.lang %}
                {% for post in iposts %}
                {% if post.project.first == page.tags.first %}
                {% if notempty == 'true' %}
                <div class="hline"></div>
            	<div class="spacing"></div>
                {% endif %}
                {% assign notempty = 'true' %}
                <! -- Blog Post -->
                <!--
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                </a> 
                -->   
                <a href="{{ post.url | prepend: site.baseurl }}">
                    {% if post.img != nill %}
                    <div style="width: 100%; height: 60px; overflow: hidden;">
                    <img style="margin: -120px 0 0 0;" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ post.img }}">
                    </div>
                    {% else %}
                    <div style="position:relative; width: 100%; height: 60px; overflow: hidden;">
                    <img style="margin: -120px 0 0 0;" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}default850x400.png">
                    <div style="color:#212121; left: 0; position:absolute; text-align:center; top: 10px; width: 100%">
                    {% if post.icon %}
                        {% assign icon = post.icon %}
                    {% else %}
                        {% assign icon = "rocket" %}
                    {% endif %}
                    <i class="fa fa-{{ icon }} fa-3x"></i>
                    </div>
                    </div>
                    {% endif %}
                </a>
                <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ post.title }}</h3></a>
                <p><csmall>{{ post.date | date: "%b, %Y" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href ='{{ post.url | prepend: site.baseurl }}#disqus_thread'><span class="disqus-comment-count" data-disqus-identifier="{{ post.id }}"> </span></a></csmall></p> 
                {{ post.content }}

                <a href ='{{ post.url | prepend: site.baseurl }}#disqus_thread'> Comment on this project log </a>


                {% endif %}
                {% endfor %}
                {% if notempty != 'true' %}
            	<div class="spacing"></div>	
                <div class="hline" style="border-color: gray;"></div>
                <center><h4 style="color: gray;">No project logs yet...</h4></center>
                <div class="hline" style="border-color: gray;"></div>
                {% endif %}
            </div><! --/col-lg-8 -->

</div><! --/container -->

{% include portfolio.html title="Related Works" limit=5 %}